{:builds
   {:app {:asset-path "js"
          :devtools
            {:after-load gui.core/init! :http-port 8080 :http-root "public"}
          :modules {:main {:init-fn gui.core/init!}}
          :output-dir "public/js"
          :target :browser}
    :test {:autorun true :output-to "out/node-tests.js" :target :node-test}}
 :dependencies [[reagent "1.0.0" :exclusions [cljsjs/react cljsjs/react-dom]]
                [instaparse "1.4.10"]
                [binaryage/devtools "1.0.2"]]
 :source-paths ["src" "test"]}
